<div class="container">
    <div class="master-view">
        <app-converter-input
            [currencyData]="masterData" 
            (currencyChange)="onCurrencyDataChange('master', $event)"
            (amountChange)="onAmountDataChange('master', $event)"
            ></app-converter-input>
    </div>
    <div class="detail-view">
        <app-converter-input
            [currencyData]="detailData" 
            (currencyChange)="onCurrencyDataChange('detail', $event)"
            (amountChange)="onAmountDataChange('detail', $event)"
            ></app-converter-input>
    </div>
</div>